<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>image</key>
		<string>美食.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>image</key>
		<string>电影.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒店</string>
		<key>image</key>
		<string>酒店.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>周边游</string>
		<key>image</key>
		<string>周边游.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>休闲娱乐</string>
		<key>image</key>
		<string>休闲娱乐.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>生活服务</string>
		<key>image</key>
		<string>生活服务.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旅游</string>
		<key>image</key>
		<string>旅游.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宴会</string>
		<key>image</key>
		<string>宴会.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>时尚购</string>
		<key>image</key>
		<string>时尚购.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>丽人</string>
		<key>image</key>
		<string>丽人.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>运动健身</string>
		<key>image</key>
		<string>运动健身.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>母婴亲子</string>
		<key>image</key>
		<string>母婴亲子.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宠物</string>
		<key>image</key>
		<string>宠物.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>汽车服务</string>
		<key>image</key>
		<string>汽车服务.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>摄影写真</string>
		<key>image</key>
		<string>摄影写真.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>结婚</string>
		<key>image</key>
		<string>结婚.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>购物</string>
		<key>image</key>
		<string>购物.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>家装</string>
		<key>image</key>
		<string>家装.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>学习培训</string>
		<key>image</key>
		<string>学习培训.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>医疗</string>
		<key>image</key>
		<string>医疗.png</string>
	</dict>
</array>
</plist>
